<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="713537d3-e846-4412-965b-589b996e4761" Publisher="CN=adrian" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="713537d3-e846-4412-965b-589b996e4761" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>IsoEditorUWP</DisplayName>
    <PublisherDisplayName>adrian</PublisherDisplayName>
    <Logo>Assets\storelogo50x50.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="IsoEditorUWP.App">
      <uap:VisualElements DisplayName="IsoEditorUWP" Square150x150Logo="Assets\tile300x300.png" Square44x44Logo="Assets\icon88x88.png" Description="IsoEditorUWP" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\tile620x300.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\spash1240x600.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
  </Capabilities>
</Package>