.svn/
.vs/
out/
website/
captures/
**/x64/
**/Debug*/
**/Release*/
* - Copy*
sdk/
SDB/
shared/assets/
**/ps3/
**/ps4/
**/xone/
**/x360/
**/wii/
shared/bin
shared/test
shared/platforms/
!shared/platforms/clang/
!shared/platforms/msvc/
!shared/platforms/pc/
!shared/common/debug/
shared/isomax/
shared/isoexplorer/
shared/isoview/
shared/isocrc/
shared/utilities/procreate*
shared/MyTheme/
bin/ORBIScrude.pdb
